@charset "UTF-8";
/*foundation*/
body {
  font-family: "m-plus-1p", sans-serif;
  font-style: normal;
  background-color: #FFFDFA;
  box-sizing: border-box;
  text-decoration: none;
  min-height: 100vh;
  overflow-x: hidden;
}

.is-fixed {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

/*　メディアクエリ設定　*/
.resize {
  transition: none !important;
}

/*layout*/
.l-main {
  grid-area: main;
  width: 100%;
}
@media screen and (max-width:834px) {
  .l-main {
    grid-column: 1;
  }
}
@media screen and (max-width:834px) {
  .l-main {
    width: 100vw;
  }
}
@media screen and (max-width:430px) {
  .l-main {
    width: 100vw;
  }
}

.l-header {
  width: 100%;
  height: auto;
  background: rgb(255, 247, 239);
  position: relative;
  grid-area: head;
}
@media screen and (max-width:834px) {
  .l-header {
    grid-column: 1;
  }
}
@media screen and (max-width:834px) {
  .l-header {
    width: 100vw;
  }
}
@media screen and (max-width:430px) {
  .l-header {
    width: 100vw;
  }
}

.l-sidebar {
  grid-area: side;
  width: 20vw;
  height: auto;
  background-color: #F2EDE9;
  z-index: 2000;
}
@media screen and (max-width:834px) {
  .l-sidebar {
    position: absolute;
    opacity: 0;
    right: 20vw;
    z-index: -2000;
    width: 15vh;
  }
}
@media screen and (max-width:430px) {
  .l-sidebar {
    width: 15vw;
    position: absolute;
    right: 40vw;
    z-index: -2000;
  }
}

@media screen and (max-width:834px) {
  .l-sidebar__animation {
    position: absolute;
    transform: translateX(100%);
    transition-delay: 100ms;
    transition-duration: 400ms;
    transition-property: all;
    opacity: 0;
    right: 20vw;
    z-index: -2000;
    width: 15vh;
  }
}
@media screen and (max-width:430px) {
  .l-sidebar__animation {
    width: 15vw;
    position: absolute;
    transform: translateX(100%);
    transition-delay: 100ms;
    transition-duration: 400ms;
    transition-property: all;
    right: 40vw;
    z-index: -2000;
  }
}

.is-active {
  width: 40vw;
  z-index: 2000;
  right: 0;
  transform: translateX(0);
  transition-delay: 200ms;
  transition-duration: 400ms;
  transition-property: all;
  overflow-y: scroll;
  overscroll-behavior: contain;
  height: 100vh;
  opacity: 1;
}
@media screen and (max-width:430px) {
  .is-active {
    width: 87.4vw;
  }
}

.l-footer {
  grid-area: foot;
  width: 100%;
  height: auto;
  background-image: url(../../img/footer.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width:834px) {
  .l-footer {
    width: 100vw;
  }
}
@media screen and (max-width:430px) {
  .l-footer {
    width: 100vw;
  }
}

/*object*/
.c-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 20%;
  grid-template-rows: minmax(217px, auto) 1fr 150px;
  grid-template-areas: "head side" "main side" "foot foot";
  min-height: 100vh;
}
@media screen and (max-width:834px) {
  .c-grid {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "head" "main" "foot";
  }
}
@media screen and (max-width:430px) {
  .c-grid {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "head" "main" "foot";
  }
}

.c-copyright {
  font-size: 14px;
}

.c-menu-list {
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(16px, 1.2vw, 24px);
  line-height: 100%;
  color: rgb(112, 112, 112);
}
@media screen and (max-width:834px) {
  .c-menu-list {
    font-size: clamp(16px, 2.9vw, 24px);
  }
}
@media screen and (max-width:430px) {
  .c-menu-list {
    font-size: clamp(16px, 6.4vw, 24px);
  }
}

.c-menu-list__child {
  font-family: M1p;
  font-weight: 400;
  font-size: clamp(14px, 1vw, 20px);
  line-height: 100%;
  color: rgb(112, 112, 112);
}
@media screen and (max-width:834px) {
  .c-menu-list__child {
    font-size: clamp(14px, 2.5vw, 20px);
  }
}
@media screen and (max-width:430px) {
  .c-menu-list__child {
    font-size: clamp(14px, 5.3vw, 20px);
  }
}

.c-button--menu {
  font-family: Roboto;
  font-weight: 700;
  font-size: clamp(24px, 1.7vw, 34px);
  line-height: 100%;
  color: rgb(112, 112, 112);
}
@media screen and (max-width:834px) {
  .c-button--menu {
    display: none;
  }
}
@media screen and (max-width:430px) {
  .c-button--menu {
    font-size: 20px;
  }
}

.c-button--seach {
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
  color: rgb(112, 112, 112);
  font-weight: 700;
  font-size: clamp(12px, 0.83vw, 16px);
  background: linear-gradient(rgb(242, 237, 233), rgb(222, 216, 211));
  aspect-ratio: 3/1;
}

.c-button--close {
  display: block;
  right: 30px;
  position: absolute;
}
.c-button--close::before, .c-button--close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 5.42vw;
  background: rgb(112, 112, 112);
}
@media screen and (max-width:430px) {
  .c-button--close::before, .c-button--close::after {
    height: 12vw;
  }
}
.c-button--close::before {
  rotate: 45deg;
}
.c-button--close::after {
  rotate: -45deg;
}
@media screen and (min-width:835px) {
  .c-button--close {
    opacity: 0;
  }
}

.c-button--panel {
  color: rgb(112, 112, 112);
  background-color: white;
  border-radius: 100vh;
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(12px, 0.83vw, 16px);
  width: 15.2vw;
  height: 4vw;
}
@media screen and (max-width:834px) {
  .c-button--panel {
    font-size: clamp(12px, 1.9vw, 16px);
    width: 19.5vw;
    height: 5.3vw;
  }
}
@media screen and (max-width:430px) {
  .c-button--panel {
    font-size: clamp(12px, 4.2vw, 16px);
    width: 43vw;
    height: 11vw;
  }
}

.c-button--post {
  background: linear-gradient(rgb(242, 237, 233), rgb(222, 216, 211));
  border-radius: 20px;
  aspect-ratio: 4/1;
  width: 30%;
  border: 1px solid;
  border-color: rgb(112, 112, 112);
  border-width: 1px;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width:834px) {
  .c-button--post {
    width: 60%;
  }
}
@media screen and (max-width:430px) {
  .c-button--post {
    width: 100%;
  }
}

/*object/project*/
.p-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media screen and (max-width:834px) {
  .p-header-inner {
    flex-direction: column;
    justify-content: center;
  }
}

.p-card {
  display: flex;
  width: auto;
}
@media screen and (max-width:430px) {
  .p-card {
    flex-direction: column;
    justify-content: center;
  }
}

.p-card--takeout {
  margin: 6vw 2.5% 6vw 5%;
  box-sizing: border-box;
  background-image: url(../../../img/card-takeout.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:430px) {
  .p-card--takeout {
    margin: 5%;
    margin-bottom: 0;
    width: 90%;
  }
}

.p-card--eatin {
  margin: 6vw 5% 6vw 2.5%;
  box-sizing: border-box;
  background-image: url(../../../img/card-eatin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:430px) {
  .p-card--eatin {
    width: 90%;
    margin: 5%;
  }
}

.p-card__header-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: clamp(35px, 5.2vw, 80px);
  line-height: 100%;
  color: rgb(234, 234, 234);
  position: relative;
  margin: 20px 15px;
}
.p-card__header-title::before {
  content: "";
  position: absolute;
  width: clamp(33.89px, 3.2vw, 63px);
  height: 2px;
  background-color: rgb(255, 255, 255);
  bottom: -1em;
  left: 0;
}

.p-card__article {
  background: rgb(255, 255, 255);
  opacity: 0.8;
  margin: 3%;
  padding: 0 3% 3% 3%;
}

.p-card__title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(20px, 1.24vw, 24px);
  line-height: 1.5;
  color: rgb(60, 42, 16);
}
@media screen and (max-width:430px) {
  .p-card__title {
    font-size: clamp(20px, 5.86vw, 22px);
  }
}

.p-card__text {
  font-weight: 400;
  font-size: clamp(14px, 0.83vw, 16px);
  color: rgb(60, 42, 16);
}
@media screen and (max-width:430px) {
  .p-card__text {
    font-size: clamp(14px, 4.26vw, 16px);
  }
}

.p-main-visual__img {
  position: relative;
  background-image: url(../../../img/mainvisual.png);
  background-size: cover;
  aspect-ratio: 3/1;
  width: 100%;
  height: auto;
}
@media screen and (max-width:430px) {
  .p-main-visual__img {
    aspect-ratio: 1.3/1;
    background-image: url(../../../img/mainvisual-sp.png);
  }
}

.p-main-visual__title {
  font-family: M1p;
  font-weight: 700;
  line-height: 100%;
  font-size: 2vw;
  color: rgb(255, 255, 255);
}
@media screen and (max-width:834px) {
  .p-main-visual__title {
    font-size: 4.3vw;
  }
}
@media screen and (max-width:430px) {
  .p-main-visual__title {
    font-size: clamp(14px, 9.6vw, 36px);
  }
}
.p-main-visual__title {
  position: absolute;
  top: 40%;
  margin-left: 30px;
}

.p-map {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: auto;
}

.p-map__textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 100;
}

.p-map-image {
  background-image: url(../../../img/map-new.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}

.p-map-shadow {
  width: 55vw;
  height: 100%;
  background-image: url(../../../img/map-black.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
  object-fit: cover;
}
@media screen and (max-width:834px) {
  .p-map-shadow {
    width: 100%;
  }
}
@media screen and (max-width:430px) {
  .p-map-shadow {
    margin: 0;
    height: 50%;
  }
}

.p-map-shadow-big {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
}

.p-map__title {
  padding-top: 7%;
  padding-left: 80px;
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(20px, 1.9vw, 36px);
  line-height: 100%;
  color: white;
  position: relative;
}
.p-map__title::before {
  content: "";
  position: absolute;
  width: 3em;
  height: 2px;
  background-color: white;
  bottom: -1em;
  left: 80px;
}
@media screen and (max-width:834px) {
  .p-map__title::before {
    bottom: -0.7em;
    left: 5%;
    width: 3em;
  }
}
@media screen and (max-width:430px) {
  .p-map__title::before {
    bottom: -0.7em;
    left: 10%;
  }
}
@media screen and (max-width:834px) {
  .p-map__title {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media screen and (max-width:430px) {
  .p-map__title {
    padding-left: 10%;
  }
}

.p-map__text {
  font-weight: 700;
  font-size: clamp(14px, 0.8vw, 16px);
  line-height: 1.9;
  color: white;
  width: 50%;
  padding-top: 7%;
  padding-left: 80px;
  padding-bottom: 30px;
}
@media screen and (max-width:834px) {
  .p-map__text {
    width: 100%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media screen and (max-width:430px) {
  .p-map__text {
    width: 100%;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
  }
}

.p-sidebar-button {
  padding-left: 10%;
  height: 7%;
}

.p-sidebar-menutitle {
  padding: 10%;
  padding-bottom: 5%;
}

.p-sidebar-list {
  padding-left: 20%;
}
.p-sidebar-list__child {
  margin-top: 10%;
  margin-bottom: 10%;
}

.p-sidebar__black-bg {
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.5);
  z-index: -2000;
  display: block;
  transition-delay: 100ms;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  transition-property: opacity;
}
@media screen and (min-width:835px) {
  .p-sidebar__black-bg {
    opacity: 0;
  }
}

.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.5);
  z-index: 1000;
  display: block;
  opacity: 1;
}

.p-sidebar-container {
  position: relative;
  min-height: 100%;
}

.p-sidebar__fixed {
  overflow: visible;
}

.is-fixed {
  overflow: hidden;
  position: fixed;
}

.p-logo {
  width: 17vw;
  height: auto;
  margin-left: 30px;
}
@media screen and (max-width:834px) {
  .p-logo {
    margin-left: 0;
    width: clamp(203px, 24vw, 240vw);
  }
}

.p-seach-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}
@media screen and (max-width:834px) {
  .p-seach-area {
    margin-top: 30px;
  }
}

.p-search__container {
  display: flex;
  caret-color: auto;
  width: clamp(200px, 20.6vw, 396px);
  height: auto;
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  aspect-ratio: 8.6/1;
}
@media screen and (max-width:834px) {
  .p-search__container {
    width: 47.4vw;
  }
}
@media screen and (max-width:430px) {
  .p-search__container {
    width: 57.5vw;
    aspect-ratio: 4.7/1;
  }
}

.p-seach-area__box {
  outline: 0;
  width: 100%;
  padding-left: 3px;
}

.p-seach-area__box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.04vw;
  height: auto;
  aspect-ratio: 1/1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
}
@media screen and (max-width:834px) {
  .p-seach-area__box button {
    width: 2.4vw;
  }
}
@media screen and (max-width:430px) {
  .p-seach-area__box button {
    width: 5.3vw;
  }
}

.p-search__logo {
  position: relative;
  left: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.p-search__logo::before {
  display: block;
  aspect-ratio: 1/1;
  background-size: cover;
  width: clamp(20px, 1.24vw, 24px);
  height: clamp(20px, 1.24vw, 24px);
  background-image: url(../../../img/serchbox-logo.png);
  background-repeat: no-repeat;
  content: "";
}

.p-seach-area__button {
  width: clamp(69px, 7vw, 136px);
  height: auto;
  margin-left: 14px;
  margin-right: 20px;
}
@media screen and (max-width:834px) {
  .p-seach-area__button {
    width: 16.3vw;
  }
}
@media screen and (max-width:430px) {
  .p-seach-area__button {
    width: 24vw;
    height: 12.2vw;
  }
}

.p-footer__title {
  font-size: 20px;
  line-height: 3;
  color: rgb(255, 255, 255);
}
@media screen and (max-width:430px) {
  .p-footer__title {
    font-size: 16px;
  }
}

.p-pagenation {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-family: Roboto;
  color: rgb(112, 112, 112);
  font-size: bold;
  margin-top: 80px;
  margin-bottom: 30px;
  width: 95%;
  padding-left: 5%;
}
@media screen and (max-width:430px) {
  .p-pagenation {
    display: none;
  }
}

.p-pagenation__number {
  border: 1px solid rgb(112, 112, 112);
  text-align: center;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
@media screen and (max-width:834px) {
  .p-pagenation__number {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.p-pagenation__text {
  font-size: clamp(14px, 0.83vw, 16px);
}

.p-pagenation__prev {
  margin-left: 10px;
}

.p-pagenation__next {
  margin-left: 10px;
}

@media screen and (min-width:835px) {
  .p-pagenation--sp {
    display: none;
  }
}
@media screen and (max-width:834px) {
  .p-pagenation--sp {
    display: none;
  }
}
@media screen and (max-width:430px) {
  .p-pagenation--sp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(112, 112, 112);
    font-family: M1p;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }
}

.p-pagenation--sp__inner {
  display: flex;
}

.p-mainvisual-sub {
  background-image: url(../../../img/mainvisual-sub.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  width: 100%;
  height: auto;
  aspect-ratio: 6.5/1;
  background-size: cover;
  background-position: 50%;
}
@media screen and (max-width:834px) {
  .p-mainvisual-sub {
    aspect-ratio: 3/1;
    background-image: url(../../../img/mainvisual-sub-tab.png);
  }
}
@media screen and (max-width:430px) {
  .p-mainvisual-sub {
    aspect-ratio: 1.3/1;
    background-position: 0;
  }
}

.p-mainvisual-sub__inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
}
@media screen and (max-width:834px) {
  .p-mainvisual-sub__inner {
    padding-left: 40px;
  }
}
@media screen and (max-width:430px) {
  .p-mainvisual-sub__inner {
    flex-direction: column;
    align-items: flex-start;
  }
}

.p-mainvisual-sub__text {
  font-family: Roboto;
  font-weight: 700;
  color: white;
  font-size: clamp(16px, 3.1vw, 60px);
}
@media screen and (max-width:834px) {
  .p-mainvisual-sub__text {
    font-size: clamp(16px, 7.1vw, 60px);
  }
}
@media screen and (max-width:430px) {
  .p-mainvisual-sub__text {
    padding-top: 35%;
    font-size: clamp(16px, 9.6vw, 36px);
  }
}

.p-mainvisual-sub__textSmall {
  color: white;
  font-size: clamp(12px, 0.83vw, 16px);
  padding-top: 5px;
  padding-left: 5px;
}
@media screen and (max-width:430px) {
  .p-mainvisual-sub__textSmall {
    padding-left: 0;
  }
}

.p-heading {
  margin: 4%;
}

.p-heading__title {
  font-family: M1p;
  font-weight: 700;
  color: rgb(60, 42, 16);
  font-size: clamp(16px, 1.8vw, 36px);
}

.p-heading__text {
  font-size: clamp(14px, 0.83vw, 16px);
  font-family: M1p;
  color: rgb(60, 42, 16);
  padding-top: 10px;
}

.p-panel-container {
  padding: 5%;
  padding-top: 0;
}

.p-panel {
  display: flex;
  margin-bottom: 15px;
}
@media screen and (max-width:430px) {
  .p-panel {
    flex-direction: column;
    align-items: center;
  }
}

.p-panel__inner {
  background-color: rgb(60, 43, 28);
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:430px) {
  .p-panel__inner {
    width: 100%;
  }
}

.p-panel__image {
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 25% 50%;
}
@media screen and (max-width:430px) {
  .p-panel__image {
    width: 100%;
  }
}

.p-panel__title {
  color: white;
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(14px, 1.87vw, 36px);
  padding-bottom: 30px;
}
@media screen and (max-width:834px) {
  .p-panel__title {
    font-size: clamp(14px, 2.4vw, 20px);
  }
}

.p-panel__subtitle {
  color: white;
  font-family: M1p;
  font-weight: 500;
  font-size: clamp(14px, 1.24vw, 24px);
  padding-bottom: 10px;
}
@media screen and (max-width:834px) {
  .p-panel__subtitle {
    font-size: clamp(14px, 1.9vw, 16px);
  }
}

.p-panel__text {
  color: white;
  font-family: M1p;
  font-weight: 400;
  font-size: clamp(14px, 0.83vw, 16px);
  padding-bottom: 30px;
}

.p-panel__button {
  margin-left: 20%;
}
@media screen and (max-width:430px) {
  .p-panel__button {
    margin-left: 15%;
  }
}

.p-blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: auto;
  margin-bottom: 3%;
}
@media screen and (max-width:834px) {
  .p-blog-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8%;
  }
}
@media screen and (max-width:430px) {
  .p-blog-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.p-blog-grid__image {
  width: 100%;
  height: auto;
}

.p-blog-grid__item {
  background-image: url(../../../img/blog.png);
}

.p-mainvisual-blog {
  background-image: url(../../../img/mainvisual-single.png);
  width: 100%;
  height: auto;
  aspect-ratio: 3/1;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
@media screen and (max-width:834px) {
  .p-mainvisual-blog {
    aspect-ratio: 1.6/1;
    background-size: 140% 140%;
  }
}

.p-mainvisual-blog__text {
  color: white;
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(16px, 3.1vw, 60px);
  padding-left: 20px;
}
@media screen and (max-width:834px) {
  .p-mainvisual-blog__text {
    font-size: clamp(16px, 7.1vw, 60px);
  }
}
@media screen and (max-width:834px) {
  .p-mainvisual-blog__text {
    font-size: clamp(16px, 9.6vw, 36px);
  }
}

.p-post {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}

.p-post__container {
  display: flex;
  margin-bottom: 5%;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width:834px) {
  .p-post__container {
    margin-bottom: 8%;
  }
}

.p-post__text {
  font-size: 16px;
}

.p-post__image-top {
  width: 100%;
  height: 26vw;
  object-fit: cover;
  object-position: 50% 80%;
  padding-bottom: 5%;
}
@media screen and (max-width:834px) {
  .p-post__image-top {
    height: 31vw;
  }
}
@media screen and (max-width:430px) {
  .p-post__image-top {
    padding-bottom: 8%;
  }
}

.p-post__image-small {
  width: 45%;
  height: auto;
  object-fit: contain;
}

.p-post__image-big {
  width: 45%;
  height: auto;
  object-fit: contain;
}
@media screen and (max-width:834px) {
  .p-post__image-big {
    width: 80%;
  }
}

.p-post__heading {
  font-size: clamp(24px, 1.8vw, 36px);
  color: rgb(60, 42, 16);
  font-family: M1p;
  padding-bottom: 3%;
  line-height: 2;
}
@media screen and (max-width:834px) {
  .p-post__heading {
    font-size: clamp(20px, 4.3vw, 36px);
    padding-bottom: 5%;
  }
}
@media screen and (max-width:430px) {
  .p-post__heading {
    font-size: clamp(20px, 7.4vw, 28px);
  }
}

.p-post__text {
  color: rgb(60, 42, 16);
  font-family: M1p;
  font-size: 16px;
  padding-bottom: 3%;
}
@media screen and (max-width:834px) {
  .p-post__text {
    padding-bottom: 5%;
  }
}
@media screen and (max-width:430px) {
  .p-post__text {
    padding-bottom: 8%;
  }
}

.p-post__heading-lv3 {
  color: rgb(60, 42, 16);
  font-family: M1p;
  font-size: clamp(18px, 1.4vw, 28px);
  padding-bottom: 3%;
  line-height: 2;
}
@media screen and (max-width:834px) {
  .p-post__heading-lv3 {
    font-size: clamp(16px, 3.3vw, 28px);
    padding-bottom: 5%;
  }
}
@media screen and (max-width:430px) {
  .p-post__heading-lv3 {
    font-size: clamp(16px, 6.4vw, 24px);
    padding-bottom: 8%;
  }
}

.p-post__heading-lv4 {
  color: rgb(60, 42, 16);
  font-family: M1p;
  font-size: clamp(14px, 1vw, 20px);
  padding-bottom: 3%;
}
@media screen and (max-width:834px) {
  .p-post__heading-lv4 {
    font-size: clamp(14px, 2.3vw, 20px);
    padding-bottom: 5%;
  }
}
@media screen and (max-width:430px) {
  .p-post__heading-lv4 {
    font-size: clamp(14px, 5.3vw, 20px);
    padding-bottom: 8%;
  }
}

.p-post__list-container {
  padding-left: 3%;
  margin-bottom: 3%;
}
@media screen and (max-width:834px) {
  .p-post__list-container {
    margin-bottom: 5%;
  }
}

.p-post__list {
  padding-bottom: 2%;
}
@media screen and (max-width:430px) {
  .p-post__list {
    padding-bottom: 4%;
  }
}

.p-post__list-item {
  color: rgb(60, 42, 16);
  font-size: 16px;
}

.p-post__bold {
  padding: 5% 0 5% 0;
  margin-bottom: 150px;
  font-weight: bold;
}
@media screen and (max-width:834px) {
  .p-post__bold {
    padding-top: 8%;
  }
}
@media screen and (max-width:430px) {
  .p-post__bold {
    margin-bottom: 100px;
  }
}

.p-blockquote {
  background-color: rgb(245, 245, 245);
  margin-bottom: 5%;
  margin-top: 2%;
}
@media screen and (max-width:430px) {
  .p-blockquote {
    margin-bottom: 8%;
  }
}

.p-blockquote__text {
  padding: 5%;
}

.p-blockquote__link {
  padding: 0 5% 5% 5%;
  display: flex;
}

.p-blockquote__link a {
  text-decoration: underline;
  color: rgb(74, 108, 155);
}

.p-table {
  border-spacing: 0;
  width: 100%;
  background-color: white;
  color: rgb(60, 42, 16);
  font-size: 16px;
  margin-bottom: 5%;
}
@media screen and (max-width:834px) {
  .p-table {
    margin-bottom: 8%;
  }
}

.p-table__cell {
  border: solid 1px rgb(112, 112, 112);
  width: 70%;
  line-height: 3;
  padding-left: 3%;
}
@media screen and (max-width:430px) {
  .p-table__cell {
    line-height: 4;
  }
}

.p-table__cell-small {
  border: solid 1px rgb(112, 112, 112);
  width: 30%;
  line-height: 3;
  padding-left: 3%;
}
@media screen and (max-width:430px) {
  .p-table__cell-small {
    line-height: 4;
  }
}

.sub-content {
  background-color: rgb(245, 245, 245);
  margin-bottom: 5%;
  padding: 5%;
  font-size: 16px;
}
@media screen and (max-width:834px) {
  .sub-content {
    margin-bottom: 8%;
  }
}

/*object/utility*/
.u-color--white {
  color: rgb(255, 255, 255);
}

.u-color--click {
  background-color: rgb(60, 43, 28);
  color: white;
}

.u-margin-article {
  margin-top: 60%;
}

@media screen and (max-width:430px) {
  .u-margin-pc {
    margin-bottom: 70px;
  }
}

.u-margin-pagenation {
  margin-left: 5px;
}

@media screen and (max-width:834px) {
  .u-margin-heading {
    margin-bottom: 15px;
  }
}

.u-margin-post {
  margin-left: 3%;
}

.u-tab-only {
  display: none;
  position: relative;
}
@media screen and (max-width:834px) {
  .u-tab-only {
    position: absolute;
    display: block;
    top: 10px;
    right: 20px;
    z-index: 1100;
  }
}

.u-padding-top {
  padding-top: 0;
}
@media screen and (max-width:834px) {
  .u-padding-top {
    padding-top: 200px;
  }
}

.u-padding-post {
  padding-left: 20px;
}

.u-bg-image {
  background-image: url(../../../img/mainvisual-page.png);
}/*# sourceMappingURL=common.css.map */