@charset "UTF-8";
body {
  font-family: "m-plus-1p", sans-serif;
  font-style: normal;
  background-color: #FFFDFA;
  box-sizing: border-box;
  text-decoration: none;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

/*　メディアクエリ設定　*/
.l-main {
  grid-area: main;
}
@media screen and (max-width:834px) {
  .l-main {
    grid-column: 1;
  }
}

.l-header {
  grid-area: head;
  width: auto;
  height: auto;
  background: rgb(255, 247, 239);
  position: relative;
}
@media screen and (max-width:834px) {
  .l-header {
    grid-column: 1;
  }
}

.l-seach-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
@media screen and (max-width:834px) {
  .l-seach-area {
    margin-top: 30px;
    width: auto;
  }
}

.l-sidebar {
  grid-area: side;
  width: 20vw;
  height: auto;
  background-color: #F2EDE9;
}
@media screen and (max-width: 834px) {
  .l-sidebar {
    display: none;
  }
}

.l-footer {
  grid-area: foot;
  width: 100%;
  height: auto;
  background-image: url(../../img/footer.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.l-wrapper {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: 7% 0.88fr 5%;
  grid-template-areas: "head side" "main side" "foot foot";
  min-height: 100vh;
}
@media screen and (max-width:834px) {
  .l-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 11% 0.81fr 8%;
  }
}
@media screen and (max-width:430px) {
  .l-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 8% 0.86fr 6%;
  }
}

.c-article-text {
  font-weight: 400;
  font-size: clamp(14px, 0.83vw, 16px);
  color: rgb(60, 42, 16);
}
@media screen and (max-width:430px) {
  .c-article-text {
    font-size: clamp(14px, 4.26vw, 16px);
  }
}

.c-map-text {
  font-weight: 700;
  font-size: clamp(14px, 0.8vw, 16px);
  line-height: 1.9;
  color: white;
}

.c-footer-text {
  font-size: 20px;
  line-height: 3;
}
@media screen and (max-width:430px) {
  .c-footer-text {
    font-size: 16px;
  }
}

.c-footer-copyright {
  font-size: 14px;
}

.c-menu-list {
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(16px, 1.2vw, 24px);
  line-height: 100%;
  color: rgb(112, 112, 112);
}

.c-menu-list__child {
  font-family: M1p;
  font-weight: 400;
  font-size: clamp(14px, 1vw, 20px);
  line-height: 100%;
  color: rgb(112, 112, 112);
}

.c-card-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: clamp(35px, 5.2vw, 80px);
  line-height: 100%;
  color: rgb(234, 234, 234);
  position: relative;
}
.c-card-title::before {
  content: "";
  position: absolute;
  width: clamp(33.89px, 3.2vw, 63px);
  height: 2px;
  background-color: rgb(255, 255, 255);
  bottom: -1em;
  left: 0;
}

.c-article-title {
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(20px, 1.24vw, 24px);
  line-height: 1.5;
  color: rgb(60, 42, 16);
}
@media screen and (max-width:430px) {
  .c-article-title {
    font-size: clamp(20px, 5.86vw, 22px);
  }
}

.c-main-visual-title {
  font-family: M1p;
  font-weight: 700;
  line-height: 100%;
  font-size: 2vw;
  color: rgb(255, 255, 255);
}
@media screen and (max-width:834px) {
  .c-main-visual-title {
    font-size: 4.3vw;
  }
}
@media screen and (max-width:430px) {
  .c-main-visual-title {
    font-size: clamp(14px, 9.6vw, 36px);
  }
}

.c-map-title {
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(20px, 1.9vw, 36px);
  line-height: 100%;
  color: white;
  position: relative;
}
.c-map-title::before {
  content: "";
  position: absolute;
  width: 3em;
  height: 2px;
  background-color: white;
  bottom: -1em;
  left: 80px;
}
@media screen and (max-width:834px) {
  .c-map-title::before {
    bottom: -0.7em;
    left: 5%;
    width: 3em;
  }
}
@media screen and (max-width:430px) {
  .c-map-title::before {
    bottom: -0.7em;
    left: 10%;
  }
}

.c-menu-button {
  font-family: Roboto;
  font-weight: 700;
  font-size: clamp(24px, 1.7vw, 34px);
  line-height: 100%;
  color: rgb(112, 112, 112);
}
@media screen and (max-width:430px) {
  .c-menu-button {
    font-size: 20px;
  }
}

.p-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media screen and (max-width:834px) {
  .p-header-inner {
    flex-direction: column;
    justify-content: center;
  }
}

.p-seach-box {
  border: 1px solid #707070;
  border-radius: 10px;
  width: 20.6vw;
  background-color: rgb(255, 255, 255);
  height: auto;
  aspect-ratio: 8.6/1;
  display: flex;
  align-items: center;
}
@media screen and (max-width:834px) {
  .p-seach-box {
    width: 47.4vw;
  }
}
@media screen and (max-width:430px) {
  .p-seach-box {
    width: 57.5vw;
    height: 12.2vw;
  }
}

.p-seach-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.04vw;
  height: auto;
  aspect-ratio: 1/1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
}
@media screen and (max-width:834px) {
  .p-seach-box button {
    width: 2.4vw;
  }
}
@media screen and (max-width:430px) {
  .p-seach-box button {
    width: 5.3vw;
  }
}

.p-seach-box button::before {
  aspect-ratio: 1/1;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(../../../img/serchbox-logo.png);
  background-repeat: no-repeat;
  content: "";
}

.p-seach-button {
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
  color: rgb(112, 112, 112);
  font-weight: 700;
  font-size: clamp(10px, 0.83vw, 16px);
  width: 7vw;
  height: auto;
  aspect-ratio: 3/1;
  margin-left: 14px;
  margin-right: 20px;
  background: linear-gradient(rgb(242, 237, 233), rgb(222, 216, 211));
}
@media screen and (max-width:834px) {
  .p-seach-button {
    width: 16.3vw;
  }
}
@media screen and (max-width:430px) {
  .p-seach-button {
    width: 24vw;
    height: 12.2vw;
  }
}

.p-card {
  display: flex;
  width: auto;
}
@media screen and (max-width:430px) {
  .p-card {
    flex-direction: column;
    justify-content: center;
  }
}

.p-card-takeout {
  margin: 6vw 2.5% 6vw 5%;
  box-sizing: border-box;
  background-image: url(../../../img/card-takeout.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:430px) {
  .p-card-takeout {
    margin: 5%;
    margin-bottom: 0;
    width: 90%;
  }
}

.p-card-eatin {
  margin: 6vw 5% 6vw 2.5%;
  box-sizing: border-box;
  background-image: url(../../../img/card-eatin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:430px) {
  .p-card-eatin {
    width: 90%;
    margin: 5%;
  }
}

.p-article {
  background: rgb(255, 255, 255);
  opacity: 0.8;
  margin: 3%;
  padding: 0 3% 3% 3%;
  height: 100%;
}

.p-card-title {
  margin: 20px 15px;
}

.p-article-title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.p-main-visual__img {
  position: relative;
  background-image: url(../../../img/mainvisual.png);
  background-size: cover;
  aspect-ratio: 3/1;
  width: 100%;
  height: auto;
}
@media screen and (max-width:430px) {
  .p-main-visual__img {
    aspect-ratio: 1.3/1;
    background-image: url(../../../img/mainvisual-sp.png);
  }
}

.p-main-visual__title {
  position: absolute;
  top: 40%;
  margin-left: 30px;
}

.p-map {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: auto;
}

.p-map-text-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 100;
}

.p-map-image {
  background-image: url(../../../img/map-new.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}

.p-map-shadow {
  width: 55vw;
  height: 100%;
  background-image: url(../../../img/map-black.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
  object-fit: cover;
}
@media screen and (max-width:834px) {
  .p-map-shadow {
    width: 100%;
  }
}
@media screen and (max-width:430px) {
  .p-map-shadow {
    margin: 0;
    height: 50%;
  }
}

.p-map-shadow__big {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
}

.p-map-title {
  padding-top: 7%;
  padding-left: 80px;
}
@media screen and (max-width:834px) {
  .p-map-title {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media screen and (max-width:430px) {
  .p-map-title {
    padding-left: 10%;
  }
}

.p-map-text {
  width: 50%;
  padding-top: 7%;
  padding-left: 80px;
  padding-bottom: 30px;
}
@media screen and (max-width:834px) {
  .p-map-text {
    width: 100%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media screen and (max-width:430px) {
  .p-map-text {
    width: 100%;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
  }
}

.p-sidebar-button {
  padding-left: 10%;
  height: 7%;
}

.p-sidebar-menutitle {
  padding: 10%;
  padding-bottom: 5%;
}

.p-sidebar-list {
  padding-left: 20%;
}
.p-sidebar-list__child {
  margin-top: 10%;
  margin-bottom: 10%;
}

.p-logo {
  width: 17vw;
  height: auto;
  margin-left: 30px;
}
@media screen and (max-width:834px) {
  .p-logo {
    margin-left: 0;
    width: clamp(203px, 24vw, 240vw);
  }
}

.u-color--white {
  color: rgb(255, 255, 255);
}

.u-margin-article {
  margin-top: 60%;
}

@media screen and (max-width:430px) {
  .u-margin-pc {
    margin-bottom: 70px;
  }
}

.u-tab-only {
  display: none;
  position: absolute;
}
@media screen and (max-width:834px) {
  .u-tab-only {
    display: inline-block;
    top: 10px;
    right: 10px;
  }
}

.u-padding-top {
  padding-top: 0;
}/*# sourceMappingURL=common.css.map */