@charset "UTF-8";
body {
  font-family: "m-plus-1p", sans-serif;
  font-style: normal;
  background-color: #FFFDFA;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

/*　メディアクエリ設定　*/
.l-pc-layout {
  display: flex;
  justify-content: space-between;
}

.l-header {
  width: auto;
  height: 25vh;
  background: rgb(255, 247, 239);
  position: relative;
}

.l-seach-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.l-sidebar {
  width: 20vw;
  height: auto;
  background-color: #F2EDE9;
}
@media screen and (max-width: 834px) {
  .l-sidebar {
    display: none;
  }
}

.l-footer {
  width: 100%;
  height: 149px;
  background-image: url(../../img/footer.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.l-mainbar {
  width: 80vw;
}
@media screen and (max-width:834px) {
  .l-mainbar {
    width: 100vw;
  }
}

.c-article-text {
  font-weight: 400;
  font-size: 0.83vw;
  color: rgb(60, 42, 16);
}
@media screen and (max-width:430px) {
  .c-article-text {
    font-size: 4.26vw;
  }
}

.c-map-text {
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 1.9;
  color: rgb(255, 255, 255);
}
@media screen and (max-width:834px) {
  .c-map-text {
    font-size: 1.6vw;
  }
}
@media screen and (max-width:430px) {
  .c-map-text {
    font-size: 3.74vw;
  }
}

.c-menu-list {
  font-family: M1p;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 100%;
  color: rgb(112, 112, 112);
}

.c-menu-list__child {
  font-family: M1p;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 100%;
  color: rgb(112, 112, 112);
}

.c-card-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: clamp(35px, 5.2vw, 80px);
  line-height: 100%;
  color: rgb(234, 234, 234);
  position: relative;
}
.c-card-title::before {
  content: "";
  position: absolute;
  width: clamp(33.89px, 3.2vw, 63px);
  height: 2px;
  background-color: rgb(255, 255, 255);
  bottom: -40px;
  left: 10px;
}

.c-article-title {
  font-family: M1p;
  font-weight: 700;
  font-size: 1.24vw;
  line-height: 24px;
  color: rgb(60, 42, 16);
}
@media screen and (max-width:430px) {
  .c-article-title {
    font-size: 5.86vw;
  }
}

.c-main-visual-title {
  font-family: M1p;
  font-weight: 700;
  line-height: 100%;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.c-map-title {
  font-family: M1p;
  font-weight: 700;
  font-size: clamp(30px, 1.9vw, 37px);
  line-height: 100%;
  color: rgb(255, 255, 255);
  position: relative;
}
.c-map-title::before {
  content: "";
  position: absolute;
  width: 3.2vw;
  height: 2px;
  background-color: rgb(255, 255, 255);
  bottom: -30px;
  left: 0;
}
@media screen and (max-width:834px) {
  .c-map-title::before {
    width: 8.9vw;
  }
}

.c-menu-button {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(20px, 4vw, 34px);
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(112, 112, 112);
}

.p-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media screen and (max-width:834px) {
  .p-header-inner {
    flex-direction: column;
    justify-content: center;
  }
}

.p-seach-box {
  border: 1px solid #707070;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 30px;
}
@media screen and (max-width:834px) {
  .p-seach-box {
    width: 50vw;
  }
}

.p-seach-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.p-seach-box button::before {
  width: 24px;
  height: 24px;
  background-image: url(../../../img/serchbox-logo.png);
  background-repeat: no-repeat;
  content: "";
}

.p-seach-button {
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
  color: rgb(112, 112, 112);
  font-weight: 700;
  font-size: 16px;
  width: 30%;
  height: 30px;
  margin-left: 14px;
  margin-right: 20px;
  background: linear-gradient(rgb(242, 237, 233), rgb(222, 216, 211));
}
@media screen and (max-width:834px) {
  .p-seach-button {
    width: 30%;
  }
}

.p-card {
  display: flex;
  width: auto;
}
@media screen and (max-width:430px) {
  .p-card {
    flex-direction: column;
    justify-content: center;
  }
}

.p-card-takeout {
  margin: 6vw 3vw 6vw 6vw;
  background-image: url(../../../img/card-takeout.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width:430px) {
  .p-card-takeout {
    margin: 6vw 6vw 3vw 6vw;
  }
}

.p-card-eatin {
  margin: 6vw 6vw 6vw 3vw;
  background-image: url(../../../img/card-eatin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width:430px) {
  .p-card-eatin {
    margin: 3vw 6vw 6vw 6vw;
  }
}

.p-card-title {
  margin: 20px 15px;
}

.p-article {
  background: rgb(255, 255, 255);
  opacity: 0.8;
  margin: 3%;
  padding: 0 3% 3% 3%;
}

.p-article-title {
  padding-top: 5px;
}

.p-main-visual {
  background-image: url(../../../img/mainvisual.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.p-main-visual::before {
  content: "";
  display: block;
  padding-top: 34.12%; /*表示画像の高さ÷表示画像の幅×100*/
}

.p-main-visual__title {
  position: absolute;
  top: 40%;
  margin-left: 30px;
}

.p-map {
  background-image: url(../../../img/map.png);
  background-size: cover;
  width: 100%;
  height: auto;
  z-index: 0;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width:430px) {
  .p-map {
    height: 691px;
  }
}

.p-map-shadow {
  width: 55vw;
  height: 100%;
  z-index: 100;
}
@media screen and (max-width:834px) {
  .p-map-shadow {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width:430px) {
  .p-map-shadow {
    margin: 0;
    height: 50%;
  }
}

.p-map-shadow__big {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 30%;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.p-map-title {
  z-index: 1000;
  position: absolute;
  top: 70px;
  left: 100px;
}
@media screen and (max-width:834px) {
  .p-map-title {
    left: 50px;
  }
}

.p-map-text {
  z-index: 1000;
  position: absolute;
  top: 150px;
  left: 100px;
  width: 50%;
}
@media screen and (max-width:834px) {
  .p-map-text {
    width: 100%;
    height: 100%;
    top: 140px;
    left: 50px;
    width: 80%;
  }
}

.p-sidebar-button {
  padding: 30% 10% 30% 10%;
}

.p-sidebar-menutitle {
  padding: 10%;
}

.p-sidebar-list {
  padding-left: 20%;
}
.p-sidebar-list__child {
  margin-top: 10%;
  margin-bottom: 10%;
}

.p-logo {
  width: 20vw;
  height: auto;
  margin-left: 30px;
}
@media screen and (max-width:834px) {
  .p-logo {
    margin-left: 0;
    width: clamp(203px, 28.7vw, 240vw);
  }
}

.u-color--white {
  color: rgb(255, 255, 255);
}

.u-margin-article {
  margin-top: 300px;
}

.u-tab-only {
  display: none;
  position: absolute;
}
@media screen and (max-width:834px) {
  .u-tab-only {
    display: inline-block;
    top: 10px;
    right: 10px;
  }
}/*# sourceMappingURL=common.css.map */