.c-article-text {
font-family: M+ 1p;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(60, 42, 16, 1);

}

.c-map-text {
font-family: M+ 1p;
font-weight: 700;
font-size: 14px;
line-height: 33px;
color: rgba(255, 255, 255, 1);

}