.c-menu-list {
font-family: M+ 1p;
font-weight: 700;
font-size: 24px;
line-height: 100%;
color: rgba(112, 112, 112, 1);

}
.c-menu-list__child {
 font-family: M+ 1p;
font-weight: 400;
font-size: 20px;
line-height: 100%;
color: rgba(112, 112, 112, 1);
}