.c-card-title {
font-family: Roboto;
font-weight: 700;
font-size: 60px;
line-height: 100%;
color: rgba(234, 234, 234, 1);
position: relative;

 &::before{
   
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    bottom: -40px;
    left: 10px;
}
}



.c-article-title {
font-family: M+ 1p;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: rgba(60, 42, 16, 1);
}

.c-main-visual-title {
 font-family: M+ 1p;
font-weight: 700;
line-height: 100%;
font-size: 20px;
color: rgba(255, 255, 255, 1);
}

.c-map-title {
font-family: M+ 1p;
font-weight: 700;
font-size: 36px;
line-height: 100%;
color: rgba(255, 255, 255, 1);
position: relative;

 &::before{
   
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    bottom: 30px;
    left: 100px;
}

}