@charset "UTF-8";
@use "../../global/breakpoint" as fw;

.c-article-text {
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgb(60, 42, 16);

}

.c-map-text {
font-weight: 700;
font-size: 0.8vw;
line-height: 1.9;
color: rgb(255, 255, 255);
@include fw.mq("tab") {
   font-size: 1.6vw;
  }
@include fw.mq("sp") {
    font-size: 3.74vw;
  }

}