@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.c-article-text {
font-weight: 400;
font-size: 0.83vw;
color: rgb(60, 42, 16);
 @include fw.mq("sp") {
    font-size: 4.26vw;
  }

}

.c-map-text {
font-weight: 700;
font-size: 0.8vw;
line-height: 1.9;
color:white;
@include fw.mq("tab") {
   font-size: 1.6vw;
  }
@include fw.mq("sp") {
    font-size: 3.74vw;
  }

}

.c-footer-text {
  font-size: 20px;
  line-height: 3;
}