@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.c-article-text {
font-weight: 400;
font-size: clamp(14px,0.83vw,16px);
color: rgb(60, 42, 16);
 @include fw.mq("sp") {
    font-size: clamp(14px,4.26vw,16px);
  }

}

.c-map-text {
font-weight: 700;
font-size: clamp(14px,0.8vw,16px);
line-height: 1.9;
color:white;
}

.c-footer-text {
  font-size: 20px;
  line-height: 3;
   @include fw.mq("sp") {
    font-size: 16px;
  }

}

.c-footer-copyright {
  font-size: 14px;
}