@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.c-menu-button {
font-family: Roboto;
font-weight: 700;
font-size: 1.7vw;
line-height: 100%;
color: rgb(112, 112, 112);
 @include fw.mq("tab") {
    font-size: 4vw;
  }
  @include fw.mq("sp") {
    font-size: 5.3vw;
  }
}