@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.c-menu-button {
font-family: Roboto;
font-weight: 700;
font-size: clamp(24px,1.7vw,34px);
line-height: 100%;
color: rgb(112, 112, 112);
  @include fw.mq("sp") {
    font-size:20px;
  }
}