@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.c-button--menu {
font-family: Roboto;
font-weight: 700;
font-size: clamp(24px,1.7vw,34px);
line-height: 100%;
color: rgb(112, 112, 112);
  @include fw.mq("tab") {
    display: none;
  }
  @include fw.mq("sp") {
    font-size:20px;
  }
}

.c-button--seach {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 10px;
    color:rgb(112, 112, 112);
    font-weight: 700;
    font-size: clamp(12px,0.83vw,16px);
    background: linear-gradient(rgb(242, 237, 233),rgb(222, 216, 211));
    aspect-ratio: 3/1;
}

.c-button--close {
  display: block;
  right: 30px;
  position: absolute;
  &::before ,&::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 5.42vw;
    background:rgb(112, 112, 112);
     @include fw.mq("sp") {
   height: 12.0vw; 
  }
  }

  &::before {
    rotate: (45deg);
  }

  &::after {
    rotate:(-45deg);
  }
  @include fw.mq("pc") {
    opacity: 0;
  }
 
  }

.c-button--panel {
  color: rgb(112, 112, 112);
  background-color: white;
  border-radius: 100vh;
  font-family: M+ 1p;
  font-weight: 700;
  font-size: clamp(12px,0.83vw,16px);
  width: 15.2vw;
  height: 4vw;
  @include fw.mq("tab") {
    font-size: clamp(12px,1.9vw,16px);
    width: 19.5vw;
    height: 5.3vw;
  }
  @include fw.mq("sp") {
    font-size: clamp(12px,4.2vw,16px);
    width: 43vw;
    height: 11vw;
  }
}

.c-button--post {
  background: linear-gradient(rgb(242, 237, 233),rgb(222, 216, 211));
  border-radius: 20px;
  aspect-ratio: 4/1;
  width: 30%;
  border: 1px solid;
  border-color: rgba(112, 112, 112, 1);
  border-width: 1px;
  font-weight: bold;
  font-size: 16px;
  @include fw.mq("tab") {
    width: 60%;
  }
  @include fw.mq("sp") {
    width: 100%;
  }
}