.c-menu-list {
font-family: M+ 1p;
font-weight: 700;
font-size: clamp(16px,1.2vw,24px);
line-height: 100%;
color: rgb(112, 112, 112);

}
.c-menu-list__child {
 font-family: M+ 1p;
font-weight: 400;
font-size: clamp(14px,1vw,20px);
line-height: 100%;
color: rgb(112, 112, 112);
}