.c-menu-list {
font-family: M+ 1p;
font-weight: 700;
font-size: 1.2vw;
line-height: 100%;
color: rgb(112, 112, 112);

}
.c-menu-list__child {
 font-family: M+ 1p;
font-weight: 400;
font-size: 1vw;
line-height: 100%;
color: rgb(112, 112, 112);
}