@charset "UTF-8";
@use "../../global/breakpoint" as fw;

.c-card-title {
font-family: Roboto;
font-weight: 700;
font-size: clamp(41px,5.2vw,80px);
line-height: 100%;
color: rgb(234, 234, 234);
position: relative;

 &::before{
   
    content: "";
    position: absolute;
    width: clamp(33.89px,3.2vw,63px);
    height: 2px;
    background-color: rgb(255, 255, 255);
    bottom: -40px;
    left: 10px;
}
}



.c-article-title {
font-family: M+ 1p;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: rgb(60, 42, 16);
}

.c-main-visual-title {
 font-family: M+ 1p;
font-weight: 700;
line-height: 100%;
font-size: 20px;
color: rgb(255, 255, 255);
}

.c-map-title {
font-family: M+ 1p;
font-weight: 700;
font-size: clamp(30px,1.9vw,37px);
line-height: 100%;
color: rgb(255, 255, 255);
position: relative;

 &::before{
   
    content: "";
    position: absolute;
    width: 3.2vw;
    height: 2px;
    background-color: rgb(255, 255, 255);
    bottom:-30px;
    left: 0;
    @include fw.mq("tab") {
    width: 8.9vw;
  }

}

}