@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.c-card-title {
font-family: Roboto;
font-weight: 700;
font-size: clamp(35px,5.2vw,80px);
line-height: 100%;
color: rgb(234, 234, 234);
position: relative;

 &::before{
   
    content: "";
    position: absolute;
    width: clamp(33.89px,3.2vw,63px);
    height: 2px;
    background-color: rgb(255, 255, 255);
    bottom: -1em;
    left: 0;
}
}



.c-article-title {
font-family: M+ 1p;
font-weight: 700;
font-size:clamp(20px,1.24vw,24px);
line-height: 1.5;
color: rgb(60, 42, 16);
 @include fw.mq("sp") {
    font-size:clamp(20px,5.86vw,22px);
  }
}

.c-main-visual-title {
 font-family: M+ 1p;
font-weight: 700;
line-height: 100%;
font-size: 2vw;
color: rgb(255, 255, 255);
 @include fw.mq("tab") {
    font-size: 4.3vw;
  }
  @include fw.mq("sp") {
    font-size: clamp(14px,9.6vw,36px);
  }
}

.c-map-title {
font-family: M+ 1p;
font-weight: 700;
font-size: clamp(20px,1.9vw,36px);
line-height: 100%;
color:white;
position: relative;

 &::before{
   
    content: "";
    position: absolute;
    width: 3em;
    height: 2px;
    background-color: white;
    bottom:-1em;
    left: 80px;
    @include fw.mq("tab") {
    bottom:-0.7em;
    left: 5%;
    width: 3em;
  }
   @include fw.mq("sp") {
    bottom: -0.7em;
    left: 10%;
  }

}

}