@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.u-tab-only {
    display: none;
    position: relative;
     @include fw.mq("tab") {
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
        z-index: 1100;
    
  }
}
