@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.u-tab-only {
    display: none;
    position: absolute;
     @include fw.mq("tab") {
        display: inline-block;
        top: 10px;
        right: 10px;
    
  }
}