@charset "UTF-8";
@use "../../global/breakpoint" as fw;

.p-card {
  display: flex;
  width: auto;
   @include fw.mq("sp") {
    flex-direction: column;
    justify-content: center;
  }
}
.p-card-takeout {
  margin: 6vw 3vw 6vw 6vw;
  background-image: url(/front-page/img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
  background-size: cover;
  background-repeat: no-repeat;
  @include fw.mq("sp") {
    margin: 6vw 6vw 3vw 6vw;
  }
}

.p-card-eatin {
  margin: 6vw 6vw 6vw 3vw;
  background-image: url(/front-page/img/473d814b175bd517b56eb309f2958725.png);
  background-size: cover;
  background-repeat: no-repeat;
  @include fw.mq("sp") {
    margin: 3vw 6vw 6vw 6vw;
  }
}

.p-card-title {
  margin: 20px 15px;
}
.p-article-title {
  padding: 3%;
  padding-left: 0;
}

.p-article {
    background: rgba(255, 255, 255, 1);
    opacity: 0.8;
    margin: 3%;
    padding: 0 3% 3% 3%;
}