@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;


.p-article {
    background: rgb(255, 255, 255);
    opacity: 0.8;
    margin: 3%;
    padding: 0 3% 3% 3%;
    height: 100%;
}

.p-article__title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: M+ 1p;
  font-weight: 700;
  font-size:clamp(20px,1.24vw,24px);
  line-height: 1.5;
  color: rgb(60, 42, 16);
 @include fw.mq("sp") {
    font-size:clamp(20px,5.86vw,22px);
  }
}

.p-article__text {
font-weight: 400;
font-size: clamp(14px,0.83vw,16px);
color: rgb(60, 42, 16);
 @include fw.mq("sp") {
    font-size: clamp(14px,4.26vw,16px);
  }

}
