.p-blockquote {
    background-color: rgb(245, 245, 245);
    margin-bottom: 5%;
    margin-top: 2%;
}

.p-blockquote__text {
    padding: 5%;
}

.p-blockquote__link {
    padding: 0 5% 5% 5%;
    display: flex;
}