@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-card {
  display: flex;
  width: auto;
   @include fw.mq("sp") {
    flex-direction: column;
    justify-content: center;
  }
}

.p-card--takeout {
  margin: 6vw 2.5% 6vw 5% ;
  box-sizing: border-box;
  background-image: url(../../../img/card-takeout.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display:flex;
  flex-direction: column;

  
  @include fw.mq("sp") {
    margin: 5%;
    margin-bottom: 0;
    width: 90%;
  }
}

.p-card--eatin {
  margin: 6vw 5% 6vw 2.5%;
  box-sizing: border-box;
  background-image: url(../../../img/card-eatin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display:flex;
  flex-direction: column;
 
  @include fw.mq("sp") {
    width: 90%;
    margin: 5%;
  }
}


.p-card__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: clamp(35px,5.2vw,80px);
  line-height: 100%;
  color: rgb(234, 234, 234);
  position: relative;
  margin: 20px 15px;

 &::before{
   
    content: "";
    position: absolute;
    width: clamp(33.89px,3.2vw,63px);
    height: 2px;
    background-color: rgb(255, 255, 255);
    bottom: -1em;
    left: 0;
}
}
  

