@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-card {
  display: flex;
  width: auto;
   @include fw.mq("sp") {
    flex-direction: column;
    justify-content: center;
  }
}
.p-card-takeout {
  margin: 6vw 2.5% 6vw 5% ;
  box-sizing: border-box;
  background-image: url(../../../img/card-takeout.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display:flex;
  flex-direction: column;

  
  @include fw.mq("sp") {
    margin: 5%;
    margin-bottom: 0;
    width: 90%;
  }
}

.p-card-eatin {
  margin: 6vw 5% 6vw 2.5%;
  box-sizing: border-box;
  background-image: url(../../../img/card-eatin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display:flex;
  flex-direction: column;
 
  @include fw.mq("sp") {
    width: 90%;
    margin: 5%;
  }
}

.p-article {
    background: rgb(255, 255, 255);
    opacity: 0.8;
    margin: 3%;
    padding: 0 3% 3% 3%;
    height: 100%;
}

.p-card-title {
  margin: 20px 15px;
}

.p-article-title {
  padding-top: 5px;
}