@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-card {
  display: flex;
  width: auto;
   @include fw.mq("sp") {
    flex-direction: column;
    justify-content: center;
  }
}
.p-card-takeout {
  margin: 6vw 3vw 6vw 6vw;
  background-image: url(../../../img/card-takeout.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include fw.mq("sp") {
    margin: 6vw 6vw 3vw 6vw;
  }
}

.p-card-eatin {
  margin: 6vw 6vw 6vw 3vw;
  background-image: url(../../../img/card-eatin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include fw.mq("sp") {
    margin: 3vw 6vw 6vw 6vw;
  }
}

.p-card-title {
  margin: 20px 15px;
}

.p-article {
    background: rgb(255, 255, 255);
    opacity: 0.8;
    margin: 3%;
    padding: 0 3% 3% 3%;
}

.p-article-title {
  padding-top: 5px;
}