@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;


.p-map {
   display: flex;
   align-items: stretch;
   flex-direction: column;
    height: auto;
}

.p-map-text-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.p-map-image {
  background-image: url(../../../img/map.jpeg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -99;
}
.p-map-shadow {
    width: 55vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    @include fw.mq("tab") {
    width: 100%;
    
  }
   @include fw.mq("sp") {
   margin: 0;
   height: 50%;
}
}

.p-map-shadow__big {
   position: absolute;
   top: 0;
   left: 0;
    opacity: 30%;
    width: 100%;
    height: 100%;
    z-index: -9;
}


.p-map-title {
  padding-top: 80px;
  padding-left: 80px;
}

.p-map-text {
    width: 50%;
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 30px;

    @include fw.mq("tab") {
    width: 100%;
    height: 100%;
    top: 150px;
    left: 50px;
    width: 80%;
  }
    
}