@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;


.p-map {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: auto;
}

.p-map__textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 100;
}

.p-map-image {
  background-image: url(../../../img/map-new.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}

.p-map-shadow {
  width: 55vw;
  height: 100%;
  background-image: url(../../../img/map-black.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
  object-fit: cover;
  @include fw.mq("tab") {
    width: 100%;
    
  }
  @include fw.mq("sp") {
   margin: 0;
   height: 50%;
}
}

.p-map-shadow-big {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
}


.p-map__title {
  padding-top: 7%;
  padding-left: 80px;
  font-family: M+ 1p;
  font-weight: 700;
  font-size: clamp(20px,1.9vw,36px);
  line-height: 100%;
  color:white;
  position: relative;
  &::before{
   
    content: "";
    position: absolute;
    width: 3em;
    height: 2px;
    background-color: white;
    bottom:-1em;
    left: 80px;
    @include fw.mq("tab") {
    bottom:-0.7em;
    left: 5%;
    width: 3em;
  }
   @include fw.mq("sp") {
    bottom: -0.7em;
    left: 10%;
  }
  }

  @include fw.mq("tab") {
    padding-right: 5%;
    padding-left: 5%;
  }
   @include fw.mq("sp") {
    padding-left: 10%;
  }

}

.p-map__text {
  font-weight: 700;
  font-size: clamp(14px,0.8vw,16px);
  line-height: 1.9;
  color:white;
  width: 50%;
  padding-top: 7%;
  padding-left: 80px;
  padding-bottom: 30px;

  @include fw.mq("tab") {
    width: 100%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
  }
  @include fw.mq("sp") {
    width: 100%;
    padding-top: 10%;
    padding-right: 10%;
   padding-left: 10%;
  }
    
}