@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-main-visual__img {
    position: relative;
    background-image: url(../../../img/mainvisual.png);
    background-size: cover;
    aspect-ratio: 3/1;
    width: 100%;
    height: auto;
    @include fw.mq("sp") {
    aspect-ratio: 1.3/1;
    background-image: url(../../../img/mainvisual-sp.png);
  }

}

.p-main-visual__title {
  font-family: M+ 1p;
  font-weight: 700;
  line-height: 100%;
  font-size: 2vw;
  color: rgb(255, 255, 255);
 @include fw.mq("tab") {
    font-size: 4.3vw;
  }
  @include fw.mq("sp") {
    font-size: clamp(14px,9.6vw,36px);
  }

  position: absolute;
  top: 40%;
  margin-left: 30px;
}