@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-map {
    background-image: url(../../../img/map.png);
    background-size: cover;
    width: 100%;
    height: auto;
    z-index: 0;
    overflow: hidden;
    position: relative;
     @include fw.mq("sp") {
   height: 691px;
}
}

.p-map-shadow {
    width: 55vw;
    height: 100%;
    z-index: 100;
    @include fw.mq("tab") {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    
  }
   @include fw.mq("sp") {
   margin: 0;
   height: 50%;
}
}

.p-map-shadow__big {
   position: absolute;
   top: 0;
   left: 0;
    opacity: 30%;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.p-map-title {
    z-index: 1000;
    position: absolute;
    top: 70px;
    left: 100px;
    @include fw.mq("tab") {
   left: 50px;
}
}

.p-map-text {
  z-index: 1000;
    position: absolute;
    top: 150px;
    left: 100px;
    width: 50%;

    @include fw.mq("tab") {
    width: 100%;
    height: 100%;
    top: 140px;
    left: 50px;
    width: 80%;
  }
    
}