@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-main-visual__img {
    position: relative;
    background-image: url(../../../img/mainvisual.png);
    background-size: cover;
    aspect-ratio: 3/1;
    width: 100%;
    height: auto;
    @include fw.mq("sp") {
    aspect-ratio: 1.3/1;
    background-image: url(../../../img/mainvisual-sp.png);
  }

}

.p-main-visual__title {
   position: absolute;
   top: 40%;
   margin-left: 30px;
}