@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-pagenation {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font-family: Roboto;
    color: rgb(112, 112, 112);
    font-size: bold;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 95%;
    padding-left: 5%;
    @include fw.mq("sp") {
    display: none;
  }
}

.p-pagenation__number {
    border: 1px solid rgb(112, 112, 112);
    text-align: center;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  @include fw.mq("tab") {
    width: 30px;
    height: 30px;
    line-height: 30px;
   
  }
   
    
}

.p-pagenation__text {
  font-size: clamp(14px,0.83vw,16px);
}
.p-pagenation__prev{
    margin-left: 10px;
}

.p-pagenation__next {
    margin-left: 10px;
}

.p-pagenation--sp {
  @include fw.mq("pc") {
    display: none;
  }
  @include fw.mq("tab") {
    display: none;
  }
  @include fw.mq("sp") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(112, 112, 112);
    font-family: M+ 1p;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }
    
}

.p-pagenation--sp__inner {
    display: flex;
}



