@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-panel-container {
    padding: 5%;
    padding-top: 0;
}
.p-panel {
    display: flex;
    margin-bottom: 15px;
    @include fw.mq("sp") {
    flex-direction: column;
    align-items: center;
  }
}

.p-panel__inner {
    background-color: rgb(60, 43, 28);
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    @include fw.mq("sp") {
    width: 100%;
  }
}
.p-panel__image {
    width: 50%;
    height: auto;
    @include fw.mq("sp") {
    width: 100%;
  }
}

.p-panel__title {
    color: white;
    font-family: M+ 1p;
    font-weight: 700;
    font-size: clamp(14px,1.87vw,36px);
    padding-bottom: 30px;
    @include fw.mq("tab") {
    font-size: clamp(14px,2.4vw,20px);
  }

}

.p-panel__subtitle {
    color: white;
    font-family: M+ 1p;
    font-weight: 500;
    font-size: clamp(14px,1.24vw,24px);
    padding-bottom: 10px;
    @include fw.mq("tab") {
    font-size: clamp(14px,1.9vw,16px);
  }
}

.p-panel__text {
    color: white;
    font-family: M+ 1p;
    font-weight: 400;
    font-size:clamp(14px,0.83vw,16px);
    padding-bottom: 30px;
}

.p-panel__button {
    margin-left: 20%;
    @include fw.mq("sp") {
    margin-left: 15%;
  }
}