@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-seach-button {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 10px;
    color:rgb(112, 112, 112);
    font-weight: 700;
    font-size: 16px;
    width: 30%;
    height: 30px;
    margin-left: 14px;
    margin-right: 20px;
    background: linear-gradient(rgb(242, 237, 233),rgb(222, 216, 211));


    @include fw.mq("tab") {
    width: 30%;
  }
}