@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-seach-box {
    border: 1px solid #707070;
    border-radius: 10px;
    width: 20.6vw;
    background-color: rgb(255, 255, 255);
    height: auto;
    aspect-ratio: 8.6/1;
    display: flex;
    align-items: center;
    
    
@include fw.mq("tab") {
    width:47.4vw;
  }
@include fw.mq("sp") {
    width:57.5vw;
    height: 12.2vw;
  }
}

.p-seach-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.04vw;
    height: auto;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
    @include fw.mq("tab") {
    width:2.4vw;
  }
  @include fw.mq("sp") {
    width:5.3vw;
  }
}

.p-seach-box button::before {
    aspect-ratio: 1/1;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url(../../../img/serchbox-logo.png);
    background-repeat: no-repeat;
    content: '';
}