@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-seach-button {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 10px;
    color:rgb(112, 112, 112);
    font-weight: 700;
    font-size: clamp(10px,0.83vw,16px);
    width: 7.0vw;
    height: auto;
    aspect-ratio: 3/1;
    margin-left: 14px;
    margin-right: 20px;
    background: linear-gradient(rgb(242, 237, 233),rgb(222, 216, 211));


    @include fw.mq("tab") {
    width: 16.3vw;
  }
  @include fw.mq("sp") {
    width: 24vw;
    height: 12.2vw;
  }
}