@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-seach-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    @include fw.mq("tab") {
    margin-top: 30px;
    width: auto;
  }
}

.p-seach-area__box {
    width: 20.6vw;
    height: auto;
    display: flex;
    align-items: center;
    
    
@include fw.mq("tab") {
    width:47.4vw;
  }
@include fw.mq("sp") {
    width:57.5vw;
    height: 12.2vw;
  }
}

.p-seach-area__box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.04vw;
    height: auto;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
    @include fw.mq("tab") {
    width:2.4vw;
  }
  @include fw.mq("sp") {
    width:5.3vw;
  }
}

.p-seach-area__box button::before {
    aspect-ratio: 1/1;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url(../../../img/serchbox-logo.png);
    background-repeat: no-repeat;
    content: '';
}

.p-seach-area__button {
    width: 7.0vw;
    height: auto;
    margin-left: 14px;
    margin-right: 20px;

    @include fw.mq("tab") {
    width: 16.3vw;
  }
  @include fw.mq("sp") {
    width: 24vw;
    height: 12.2vw;
  }
}
