@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-seach-box {
    border: 1px solid #707070;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 30px;
    
    
@include fw.mq("tab") {
    width: 50vw;
  }
}

.p-seach-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.p-seach-box button::before {
    width: 24px;
    height: 24px;
    background-image: url(../../../img/serchbox-logo.png);
    background-repeat: no-repeat;
    content: '';
}