@charset "UTF-8";
@use "../../foundation/breakpoint" as fw;

.p-sidebar-button {
    padding-left: 10%;
    height: 7%;
}

.p-sidebar-menutitle {
    padding: 10%;
    padding-bottom: 5%;
}

.p-sidebar-list {
    padding-left: 20%;

    &__child {
       margin-top: 10%;
       margin-bottom: 10%;
    }
}


    .p-sidebar__black-bg {
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(3,3,3,0.5);
    z-index: 1000;
    display: block;
    transition-delay: 1ms;
    transition-duration:300ms;
    transition-timing-function: ease-out;
    transition-property: opacity;
  
      @include fw.mq("pc") {
        opacity: 0;
      }


  }

  .is-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3,3,3,0.5);
    z-index: 1000;
    display: block;
    opacity: 1;
  }

  .p-sidebar-container {
    position: relative;
    min-height: 100%;
  }

  .p-sidebar__fixed {
    overflow: visible;
  }

  .is-fixed {
    overflow: hidden;
    position: fixed;
  }

