.p-sidebar-button {
    padding-left: 10%;
    height: 7%;
}

.p-sidebar-menutitle {
    padding: 10%;
    padding-bottom: 5%;
}

.p-sidebar-list {
    padding-left: 20%;

    &__child {
       margin-top: 10%;
       margin-bottom: 10%;
    }
}
