.l-footer {
    width: 100%;
    height: 149px;
    background-image: url(/front-page/img/fee30bb365471a1a17f3ebacb576a3beeb9609e1.png);
    background-size: cover;
     @media screen and (max-width:834px ){
        height: 150px; 
     }
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}