
@charset "UTF-8";
@use "../global/breakpoint" as fw;

.l-header {
    width: auto;
    height: 25vh;
    background: rgba(255, 247, 239, 1);
    position: relative;

   
}

.l-seach-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
