
.l-header {
    width: auto;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 247, 239, 1);
     @media screen and (max-width:375px ){
        height: 215px; 
     }
   
}

.l-seach-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
