
.l-main-visual {
    background-image: url(/front-page/img/3ba5a44414bb3c0885c27ff614596431.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:530px;
    width: auto;
    margin-bottom: 120px;
      @media (max-width:834px ) {
        height: 285px;
        margin-bottom: 40px;
      }
      @media (max-width:375px) {
        margin-bottom: 20px;
        
      }
    }

.l-map {
    background-image: url(/front-page/img/スクリーンショット\ 2020-02-10\ 11.47.42.png);
    background-size: cover;
    width: 100%;
    margin-top: 120px;
     @media (max-width:834px) {
        margin-top: 40px;
        
      }
      @media (max-width:375px) {
        margin-top: 20px;
        
      }
}

.l-section {
  display: flex;
   @media (max-width:375px) {
        display: flex;
        flex-direction: column;
        margin: 20px;
        
      }
}

.l-section-takeout {
  margin-right: 80px;
}