.l-footer {
    width: 100%;
    height: 149px;
    background-image: url(../../img/footer.png);
    background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}