@charset "UTF-8";
@use "../foundation/breakpoint" as fw;

.l-footer {
   grid-area:foot;
   width: 100%;
   height:auto;
   background-image: url(../../img/footer.png);
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  
}
