@charset "UTF-8";
@use "../foundation/breakpoint" as fw;

.l-header {
    width: auto;
    height: 25vh;
    background: rgb(255, 247, 239);
    position: relative;

   
}

.l-seach-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}
