@charset "UTF-8";
@use "../foundation/breakpoint" as fw;


.l-wrapper {
   display: grid;
   grid-template-columns: 1fr 20%;
   grid-template-rows: 7% 0.88fr 5%;
   grid-template-areas:"head side"
   "main side"
   "foot foot";
   min-height: 100vh;
   @include fw.mq("tab") {
    grid-template-columns: 1fr;
    grid-template-rows: 11% 0.81fr 8%;
  }
  @include fw.mq("sp") {
    grid-template-columns: 1fr;
    grid-template-rows: 8% 0.86fr 6%;
  }
}