

body {
    font-family: "m-plus-1p",sans-serif;
    font-style: normal;
    background-color: #FFFDFA;
    box-sizing:border-box;
    text-decoration: none;
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

img{
    display: block;
    padding: 0;
    margin: 0;
}